{{#if this._awaitingTooltipElementRendered}}
  <div>
    {{#if this._shouldRenderContent}}
      {{#if (hasBlock)}}
        {{yield this}}
      {{else}}
        {{this.text}}
      {{/if}}
    {{/if}}
  </div>
{{else}}
  {{#in-element this._renderElement}}
    <div>
      {{#if (hasBlock)}}
        {{yield this}}
      {{else}}
        {{this.text}}
      {{/if}}
    </div>
  {{/in-element}}
{{/if}}
