{{#paper-nav-container}}

  {{#paper-sidenav class='md-sidenav-left md-whiteframe-z2' locked-open='gt-sm'}}

    {{#paper-toolbar}}
      <div class="md-toolbar-tools">

        <div class="logo-wrapper">
          <h2 id="title">
            {{#link-to 'index'}}
              {{paper-icon icon='chat'}}
              <img src="https://s3.amazonaws.com/dgw-public/ember-logo-white.png" class="logo" height="30"/>
              <span class="text">&nbsp;Tooltips</span>
            {{/link-to}}
          </h2>
        </div>
      </div>
    {{/paper-toolbar}}

    {{#paper-content}}
      {{#paper-list}}

        {{#paper-item action='transitionTo' param='tooltip-on-helper'}}
          Tooltips on helpers
        {{/paper-item}}

        {{#paper-item action='transitionTo' param='tooltip-as-component'}}
          Tooltips as components
        {{/paper-item}}

        {{#paper-item action='transitionTo' param='tooltip-on-element'}}
          Tooltips on element
        {{/paper-item}}

        {{#paper-item action='transitionTo' param='tooltip-manual-trigger'}}
          Manual tooltip visibility
        {{/paper-item}}

        {{#paper-item action='transitionTo' param='tooltip-auto-close'}}
          Automatic close durations
        {{/paper-item}}

        {{#paper-item action='transitionTo' param='tooltip-with-type-class'}}
          Specifying a type class
        {{/paper-item}}

        {{paper-divider}}

        {{#paper-item action='linkTo' param='https://github.com/sir-dunxalot/ember-tooltips'}}
          {{paper-icon icon='code'}}
          View Source on Github
        {{/paper-item}}

        {{#paper-item action='linkTo' param='http://darsa.in/tooltip/'}}
          {{paper-icon icon='library-books'}}
          Darsain Tooltip Docs
        {{/paper-item}}

      {{/paper-list}}
    {{/paper-content}}

  {{/paper-sidenav}}

  <div layout="column" tabindex="-1" role="main" flex>
    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        {{#paper-sidenav-toggle as |toggle|}}
          {{#paper-button target=toggle action='toggleMenu' icon-button=true}}
            {{paper-icon icon='menu'}}
          {{/paper-button}}
        {{/paper-sidenav-toggle}}
        <span class="md-breadcrumb-page">{{pageTitle}}</span>
      </div>
    {{/paper-toolbar}}

    {{#paper-content class='md-padding page-content'}}
      {{outlet}}
    {{/paper-content}}
  </div>

{{/paper-nav-container}}

<div id="paper-wormhole"></div>
