<div class="hero">
  <h1 class="visuallyhidden">Ember Tooltips</h1>

  <div id="headline">
    <img src="http://miguelcobain.github.io/ember-paper/ember-logo-white-955db9d87b940bf54a17bd1fa78d0713.png" id="ember-logo" alt="Ember JS">
  </div>

  <div class="badges">

    <a href="https://travis-ci.org/sir-dunxalot/ember-tooltips"><img src="https://github.com/sir-dunxalot/ember-tooltips/actions/workflows/ci.yml/badge.svg?branch=master" alt="Build Status" data-canonical-src="https://github.com/sir-dunxalot/ember-tooltips/actions/workflows/ci.yml/badge.svg?branch=master" class="badge"></a>

    <a href="https://www.npmjs.com/package/ember-tooltips"><img src="https://camo.githubusercontent.com/20b25311bfe9f6a298f2a1c7dc4908101c8b8b30/68747470733a2f2f696d672e736869656c64732e696f2f6e706d2f762f656d6265722d746f6f6c746970732e737667" alt="npm" data-canonical-src="https://img.shields.io/npm/v/ember-tooltips.svg" class="badge"></a>

    <a href="https://emberobserver.com/addons/ember-tooltips"><img src="https://emberobserver.com/badges/ember-tooltips.svg" alt="Ember Observer Score" class="badge"></a>

   <iframe src="https://ghbtns.com/github-btn.html?user=sir-dunxalot&repo=ember-tooltips&type=star&count=true" title="Star on GitHub" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>

  </div>

</div>

<EmberTooltip
  @tooltipClass="logo-tooltip"
  @event="none"
  @targetId="ember-logo"
  @isShown={{this.showLogoTooltip}}
  @side="right"
  @spacing={{15}}
>
  Tooltips
</EmberTooltip>

<div class="page-content">

  <h2>Documentation</h2>

  <p>Documentation is available <a href="https://github.com/sir-dunxalot/ember-tooltips" target="_blank" rel="noopener noreferrer">In the repo</a>.</p>

  <iframe src="https://ghbtns.com/github-btn.html?user=sir-dunxalot&repo=ember-tooltips&type=fork&count=true" title="Fork on GitHub" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>

</div>

<div class="page-content gray">
  <h2>Examples</h2>

  <ul>
    <li><a href="#component">On parent component</a></li>
    <li><a href="#element">On parent element</a></li>
    <li><a href="#target">On any target</a></li>
    <li><a href="#delay">Show after delay</a></li>
    <li><a href="#duration">Show for duration</a></li>
    <li><a href="#styling">Using custom styling</a></li>
    <li><a href="#async">Using async content</a></li>
    <li><a href="#popover">Using a popover instead of a tooltip</a></li>
    <li><a href="#programatic-toggle">Toggling programatically</a></li>
    <li><a href="#inline">Using in inline form</a></li>
  </ul>
</div>

<div class="page-content">

  <h3 id="component">Basic usage with components</h3>

{{!-- BEGIN-SNIPPET basic-usage-components --}}
<SomeComponent>
  Hover for more info

  <EmberTooltip class="test-basic-component-example" @side="right">
    Here is the info!
  </EmberTooltip>
</SomeComponent>
{{!-- END-SNIPPET --}}

  <CodeSnippet @name="basic-usage-components.hbs" />

</div>

<div class="page-content gray">
  <h3 id="element">Basic usage with elements</h3>

{{!-- BEGIN-SNIPPET basic-usage-elements --}}
<div class="some-component">
  Click for more info

  <EmberTooltip @event="click">
    Here is the info!
  </EmberTooltip>
</div>
{{!-- END-SNIPPET --}}

  <CodeSnippet @name="basic-usage-elements.hbs" />

</div>

<div class="page-content">
  <h3 id="target">Using with a target</h3>

{{!-- BEGIN-SNIPPET basic-usage-target --}}
<input id="my-input" value="Some value" />

<EmberTooltip @targetId="my-input" @event="click">
  Here is the info!
</EmberTooltip>
{{!-- END-SNIPPET --}}

  <CodeSnippet @name="basic-usage-target.hbs" />
</div>

<div class="page-content gray">
  <h3 id="delay">Using a delay</h3>

{{!-- BEGIN-SNIPPET using-with-delay --}}
<SomeComponent>
  Tooltip will show after 1000ms

  <EmberTooltip @delay={{1000}}>
    Here is the info!
  </EmberTooltip>
</SomeComponent>
{{!-- END-SNIPPET --}}

  <CodeSnippet @name="using-with-delay.hbs" />
</div>

<div class="page-content">
  <h3 id="duration">Using a duration</h3>

{{!-- BEGIN-SNIPPET using-with-duration --}}
<SomeComponent>
  Tooltip will disappear after 1000ms

  <EmberTooltip @duration={{1000}}>
    Here is the info!
  </EmberTooltip>
</SomeComponent>
{{!-- END-SNIPPET --}}

  <CodeSnippet @name="using-with-duration.hbs" />

</div>

<div class="page-content gray">
  <h3 id="styling">With custom styling</h3>

{{!-- BEGIN-SNIPPET custom-styling --}}
<style>
  .tooltip-error {
    background-color: #e37f7f;
    color: #fff;
  }

  .tooltip-error .ember-tooltip-arrow {
    display: none;
  }
</style>

<SomeComponent>
  Show an error

  <EmberTooltip @tooltipClass="tooltip-error">
    Here is the error!
  </EmberTooltip>
</SomeComponent>
{{!-- END-SNIPPET --}}

  <CodeSnippet @name="custom-styling.hbs" />

</div>

<div class="page-content">
  <h3 id="async">Using async content</h3>

  <p>In this example, <code>onShow</code> is used to mimick async behaviour. In reality, you do not need set this for async operations.</p>

  <p>The tooltip will reposition itself whenever the <code>updateFor</code> property changes.</p>

{{!-- BEGIN-SNIPPET async-content --}}
<SomeComponent>
  Tooltip has async content

  <EmberTooltip @onShow={{action "setAsyncContent"}} @updateFor={{this.asyncContent}} {{! template-lint-disable no-action }}>
    {{#if this.asyncContent}}
      {{this.asyncContent}}
    {{else}}
      <SomeSpinner />
    {{/if}}
  </EmberTooltip>
</SomeComponent>
{{!-- END-SNIPPET --}}

  <CodeSnippet @name="async-content.hbs" />

</div>

<div class="page-content gray">
  <h3 id="popover">Using a popover instead of a tooltip</h3>

{{!-- BEGIN-SNIPPET popover --}}
<SomeComponent>
  View more information

  <EmberPopover class="test-popover-example" as |popover|>
    <h3>More info</h3>
    <p>Here is more information!</p>

    <button {{action "hide" target=popover}} type="button" {{! template-lint-disable no-action }}>Hide</button>
  </EmberPopover>
</SomeComponent>
{{!-- END-SNIPPET --}}

  <CodeSnippet @name="popover.hbs" />

</div>

<div class="page-content">
  <h3 id="programatic-toggle">Toggling programatically</h3>

{{!-- BEGIN-SNIPPET programatic-toggle --}}
<SomeComponent>
  <div onClick={{action "togglePopover"}} role="button" {{! template-lint-disable no-action }}>
    Click me to toggle popover
  </div>

  <EmberPopover @isShown={{this.showToggleablePopover}} @event="none" class="test-programatic-toggle-example">
    <h3>More info</h3>
    <p>Here is more information!</p>
  </EmberPopover>
</SomeComponent>
{{!-- END-SNIPPET --}}

  <CodeSnippet @name="programatic-toggle.hbs" />

</div>

<div class="page-content gray">
  <h3 id="inline">Using in inline form</h3>

{{!-- BEGIN-SNIPPET inline-content --}}
<SomeComponent>
  View more information

  <EmberTooltip @text="More info here" />
</SomeComponent>
{{!-- END-SNIPPET --}}

  <CodeSnippet @name="inline-content.hbs" />

</div>
