<ul class="examples">

  <li>
    {{#test-component
      tooltipContent='This shows on a hover event after 1000ms'
      data-test='delay-open-basic'
      tooltipDelay=1000
    }}
    Hover over me
    {{/test-component}}
  </li>

  <li>
    {{#test-component data-test='delay-open-component'}}
      {{#tooltip-on-parent delay='1000'}}
        Using a component with tooltip delay set
      {{/tooltip-on-parent}}
      Hover over me
    {{/test-component}}
  </li>

  <li>
    {{#test-calling-component}}
      <div
        class="has-tooltip inline-block"
        data-test="delay-open-data"
        data-tooltip-content="This delayed tooltip is set on a data attribute after 1000ms"
        data-tooltip-event="click"
        data-tooltip-delay="1000"
      >
        Click me
      </div>
    {{/test-calling-component}}
  </li>

  <li>
    {{input
      type='text'
      data-test='delay-open-input'
      tooltipEvent='focus'
      tooltipContent='Delay-opening tooltip on {{input}}'
      tooltipDelay='1000'
      placeholder='Focus field'
    }}
  </li>

  <li>
    {{#test-component
      data-test='delay-on-change-1'
      tooltipContent='This will open after 1000ms'
      tooltipDelay=1000
    }}
    Hover over me first
    {{/test-component}}

    {{#test-component
      data-test='delay-on-change-2'
      tooltipContent='This will open immediately if there is already another tooltip visible, otherwise will delay 1000ms'
      tooltipDelay=1000
      tooltipDelayOnChange=false
    }}
    Hover over me second
    {{/test-component}}
  </li>

</ul>

{{code-snippet name='tooltip-delay-open-1.hbs'}}
{{code-snippet name='tooltip-delay-open-2.hbs'}}

<div>Using `delayOnChange=false` with `delay`</div>
{{code-snippet name='tooltip-delay-open-3.hbs'}}
