
<ul class="examples">

  <li>
    {{test-component
      tooltipContent='This is a tooltip with a type class "light"'
      tooltipTypeClass='light'
      data-test='with-type-class-light'
    }}
  </li>

  <li>
    {{test-component
      tooltipContent='This is a tooltip with a type class "success"'
      tooltipTypeClass='success'
      data-test='with-type-class-success'
    }}
  </li>

  <li>
    {{test-component
      tooltipContent='This is a tooltip with a type class "warning"'
      tooltipTypeClass='warning'
      data-test='with-type-class-warning'
    }}
  </li>

  <li>
    {{test-component
      tooltipContent='This is a tooltip with a type class "error"'
      tooltipTypeClass='error'
      data-test='with-type-class-error'
    }}
  </li>

</ul>

{{code-snippet name='tooltip-with-type-class.hbs'}}
