<div style="height: 300px" {{! template-lint-disable }} ></div>
<h1 class="js-test-tooltip-target" style="display: flex; justify-content: center;" {{! template-lint-disable }}>
  Hover here
  <EmberTooltip
    @tooltipClass="js-test-tooltip"
    @updateFor={{this.isLoading}}
    @onShow={{action "fetchData"}}
    @onHide={{action "deleteData"}}
    @side="top" {{! template-lint-disable no-action }}>
    {{#if this.isLoading}}
      <span class="js-test-loading">Loading</span>
    {{else}}
      <table class="js-test-table">
        <thead>
        </thead>
        <tbody>
          {{#each this.rows as |row|}}
            <tr>
              <td>
                {{row.text}}
              </td>
              <td>
                {{row.number}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </EmberTooltip>
</h1>
{{outlet}}
